/*
*/

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/**
* Top nav
**/

.header-nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: absolute;
}

.header-nav a {
    color: #fff;
    background-color: transparent;
}

.nav {
    list-style: none;
    font-size: 12px;
    font-weight: 800;
    text-align: right;
}

.site-name {
    font-weight: 800;
    width: 20%;
    float: left;
    margin-left: 5%;
    float: left;
}

.nav-bar {
    width: 70%;
    float: left;
}

.nav-item {
    display: inline-block;
    padding: 3px 20px;
}

/*
* bg image
*/

.front-img {
    position: relative;
    background: url('/img/bg.jpg') no-repeat;
    height: 500px;
    width: 100%;
    z-index: -1;
    margin-bottom: 50px;
}

.overlay {
    position: absolute;
    background-color: #212529;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.site-heading {
    position: absolute;
    color: #fff;
    top: 20%;
    right: 45%;
    font-size: 25px;
}

.site-heading span{
    font-size: 17px;
    margin-left: 40%;
}

/*
* content brief layout
*/
.content-layout {
    margin: 0 30% 10% 30%;
}

.blog-title {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 800;
    color: #212529;
    line-height: 1.2;
}

.blog-abstract {
    color: #a3a3a3;
    font-style: italic;
    font-size: 14px;
}

.blog-preview > a :focus, .blog-preview > a:hover {
    color: #0085a1;
}

.blog-meta {
    font-family: Lora,'Times New Roman',serif;
    color: #ccc;
    margin: 2% 0;
    margin-top: 3%;
}

hr {
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

/*
* pager
*/

.pager-btn {
    background-color: #0085a1;
    border-color: #0085a1;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}

.older {
    float: right;
}

.newer {
    float: left;
}

.pagination {
    margin-bottom: 10px;
}

/*
* footer
*/

.footer-sentence {
    text-align: center;
    margin-bottom: 3%;
}

/*
* post
*/

.post-content {
  color: rgb(64, 64, 64);
  width: 150%;
  margin-left: -32%;
  font-size: 100%;
}

.post-content li {
    margin-top: 2%;
}

h1.post-title {
    margin-left: 28%;
    width: 100%;
}

.post-content h3 {
  font-size: 200%;
  margin-top: 2%;
  margin-bottom: -2%;
}

.post-content p {
  margin-top: 2%;
  line-height: 190%;
}

.post-content h4 {
    font-size: 140%;
    margin-top: 3%;
}

.post-content p:first-child {
  color: rgb(128, 128, 128);
}

.post-content ul {
    margin-left: 6%;
    margin-top: 2%;
}

/* code display */
.highlight, .highlight .w {
    -webkit-font-smoothing: auto;
    border: 0 solid #3f87a6;
    border-left-width: 5px!important;
    border-right-width: 0!important;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-left: 2%;
    margin-top: 2%;
}

pre.lineno {
    color: #999;
}

.highlight pre {
    background: #eee;
    font-size: 105%;
    padding: 7px;
    font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace !important;
}

.highlight span.kd {
    color: #3f87a6;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kt, .highlight .kv {
    color: #3f87a6!important;
}

.highlight span.c, .highlight span.cd,
.highlight span.cm, .highlight span.c1,
 span.p {
   color: #999;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

td.gutter.gl {
    border-right: 1px solid #999;
    text-align: center;
}
mark {
    background-color: rgba(220,220,220,.5);
    border-radius: 2px;
    padding: 0px 5px;
    word-wrap: break-word;
}
