---
layout: default
---

<!-- This loops through the paginated posts -->
<div class="container">
    {% for blog in paginator.posts %}
		<div class="blog-preview">
            <a href="{{blog.url}}">
                <h2 class="blog-title">{{blog.title}}</h2>
                <p class="blog-abstract">{{ blog.content | strip_html | truncate:400 }}</p>
            </a>
            <p class="blog-meta" >Posted by Lyra on {{ blog.date | date: '%B %d, %Y' }}</p>
		</div>
        <hr>
	{% endfor %}
</div>

<!-- Pagination links -->

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pager-btn newer">
        ← Newer Posts</a>
  {% endif %}
    
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pager-btn older">Older Posts →</a>
  {% endif %}
</div>