<nav class="header-nav">
    <div class="site-name">
        <h1><a href="/index" class="title-name"> Lyra's site</a></h1>
    </div>

    <div class="nav-bar">
        <ul class="nav {{include.navclass}}">
            <li class="nav-item">
                <a href="/index" class="url-hover" >HOME</a>
            </li>

            <li class="nav-item">
                <a href="/learning" class="url-hover" >LEARN</a>
            </li>

            <li class="nav-item">
                <a href="/algorithm" class="url-hover">ALGORITHM</a>
            </li>

            <li class="nav-item">
                <a href="/projects" class="url-hover">PROJECTS</a>
            </li>

            <li class="nav-item">
                <a href="/exercise" class="url-hover">EXERCISES</a>
            </li>
        </ul>
    </div>
    
</nav>
