<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <head>
        <title>Lyra's Site</title>
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <link media="all" rel="stylesheet" type="text/css" href="/css/pygments.css" />
        <link rel="shortcut icon" href=" /favicon.ico" />
    </head>

    <body>
        {% include nav.html navclass='nav-top' %}

        <header class= "front-img" >
            <div class="overlay"></div>
        </header>

        <div class="content-layout">
            {{content}}
        </div>

        <footer>
            <p class="footer-sentence">© 2017-2018 Created By Lyra. All rights reserved</p>
        </footer>

    </body>

</html>
