<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
　　<!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
　　<![endif]-->
<head>
	<title>Lyra's site</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link media="all" rel="stylesheet" type="text/css" href="/css/pygments.css" />
</head>
<body>
<header>
	<div class="site-name">
	<h1><a href="/index"> Lyra's site</a></h1>
	</div>
	<div class="nav-bar">
	{% include nav.html navclass='nav-top' %}
	</div>
</header>

<div class="clear-content"></div>
<hr/>
<div class="content-layout">
{{content}}
</div>
<footer>
	{% include nav.html navclass='nav-bottom' %}

	<p>© 2017 Created By Dake</p>

</footer>




</body>
</html>