---
layout: default
---

<h3>Categories:</h3>
<nav>
	<ul>
		<li><a href="/exercise" class="{% if page.url contains 'exercise' %} current {% endif %} url-hover list-title">Leetcode</a></li>
		<li><a href="/interview" class="{% if page.url contains 'interview' %} current {% endif %} url-hover list-title">Interview</a></li>
		<li><a href="/algorithm" class="{% if page.url contains 'algorithm' %} current {% endif %} url-hover list-title">Algorithm</a></li>
		<li><a href="/mock" class="{% if page.url contains 'mock' %} current {% endif %} url-hover list-title">Mock-nowcoder</a></li>
	</ul>
</nav>

<div class="blog-content-layout">

{{content}}

</div>

<div>
	{% if page.previous.url %}
	<a href="{{page.previous.url}}" class="page-previous"> Previous Question: {{page.previous.title}} </a>
	{% endif %}
	{% if page.next.url %}
	<a href="{{page.next.url}}" class="page-next"> Next Question: {{page.next.title}} </a>
	{% endif %}
</div>