---
layout: default
---

<h1>Learning </h1>

<h3>Note category:</h3>
<nav>
	<ul>
		<li><a href="/algorithm" class="{% if page.url contains 'algorithm' %} current {% endif %} url-hover list-title">Algorithm</a></li>
		<li><a href="/practice" class="{% if page.url contains 'practice' %} current {% endif %} url-hover list-title">Practice</a></li>
	</ul>
</nav>

<div class="blog-content-layout">

{{content}}

</div>

<div>
	{% if page.previous.url %}
	<a href="{{page.previous.url}}" class="page-previous"> Previous Question: {{page.previous.title}} </a>
	{% endif %}
	{% if page.next.url %}
	<a href="{{page.next.url}}" class="page-next"> Next Question: {{page.next.title}} </a>
	{% endif %}
</div>